{% extends 'base.html' %} 

{% load static %}

{% block title %} | Donation Centers {% endblock %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="sr-only">Location</label>
                <input type="text" name="keywords" class="form-control" placeholder="Location Details" value="{{ values.keywords }}">
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Blood Group</label>
                <select name="blood_group" class="form-control">
                  <option selected="true" disabled="disabled">Blood Group (Any)</option>
                  {% for key,value in blood_group_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.blood_group %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="donation_type" class="form-control">
                  <option selected="true" disabled="disabled">Blood Product (All)</option>
                  {% for key,value in donation_type_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.donation_type %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">Donation Centers</li>
        </ol>
      </nav>
    </div>
  </section>
{% include "pages/map.html" with objects=centers %}
<!-- Donation Centers -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Donation Centres</h2>
    <div class="row text-center">
      {% if centers %}
        {% for center in centers %}
        <div class="col-md-4">
            <img src="{{ center.photo.url }}" alt="" class="rounded-circle mb-3" width="200" height="200">
            <h4>{{ center.name }}</h4>
            <p class="text-success">
              <i class="fas fa-award text-success mb-3"></i> Donation Centre</p>
            <hr>
            <p>
              <i class="fas fa-phone"></i> {{ center.phone }}</p>
            <p>
              <i class="fas fa-envelope-open"></i> {{ center.email }}</p>
            <a href="{% url 'center_donations' center.id %}" class="btn btn-primary btn-block">view donation requests</a>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No Donation Centres Available</p>
        </div>
      {% endif %}       
    </div>
  </div>
</section>
{% endblock %}
