<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7863ece84cde4fed9079ab630b2766bb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7863ece84cde4fed9079ab630b2766bb" ></div>
        
</body>
<script>    
    
            var map_7863ece84cde4fed9079ab630b2766bb = L.map(
                "map_7863ece84cde4fed9079ab630b2766bb",
                {
                    center: [-1.2672428, 36.8373071],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bfc772dc9b994a629bf6f3e396b14236 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7863ece84cde4fed9079ab630b2766bb);
        
    
            var marker_f44523d8d8b84ff89350c0790821bf78 = L.marker(
                [-1.2672428, 36.8373071],
                {}
            ).addTo(map_7863ece84cde4fed9079ab630b2766bb);
        
    
        var popup_6c784972b48d4ea0acc191ccd29790ac = L.popup({"maxWidth": "100%"});

        
            var html_b84dae74cbef4a9f90068b598ad94cd6 = $(`<div id="html_b84dae74cbef4a9f90068b598ad94cd6" style="width: 100.0%; height: 100.0%;"><strong>tumaini hospital</strong>  0.0Km away <a href=http://127.0.0.1:8000/donations/4 class="btn btn-primary btn-block">view donation requests</a></div>`)[0];
            popup_6c784972b48d4ea0acc191ccd29790ac.setContent(html_b84dae74cbef4a9f90068b598ad94cd6);
        

        marker_f44523d8d8b84ff89350c0790821bf78.bindPopup(popup_6c784972b48d4ea0acc191ccd29790ac)
        ;

        
    
    
            marker_f44523d8d8b84ff89350c0790821bf78.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a05107ee127641c692fdf709c406e7c5 = L.marker(
                [-1.2709458177620256, 36.839785105834956],
                {}
            ).addTo(map_7863ece84cde4fed9079ab630b2766bb);
        
    
        var popup_d2b8e550c1ed4a4aa0d79680c8df3075 = L.popup({"maxWidth": "100%"});

        
            var html_3871104f0d6b419c9d52678e9ac4f7c0 = $(`<div id="html_3871104f0d6b419c9d52678e9ac4f7c0" style="width: 100.0%; height: 100.0%;"><strong>jaribio donation center</strong>  0.5Km away <a href=http://127.0.0.1:8000/donations/2 class="btn btn-primary btn-block">view donation requests</a></div>`)[0];
            popup_d2b8e550c1ed4a4aa0d79680c8df3075.setContent(html_3871104f0d6b419c9d52678e9ac4f7c0);
        

        marker_a05107ee127641c692fdf709c406e7c5.bindPopup(popup_d2b8e550c1ed4a4aa0d79680c8df3075)
        ;

        
    
    
            marker_a05107ee127641c692fdf709c406e7c5.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fceec5e610c6452ca91c007cf39d2dde = L.marker(
                [-1.2650201, 36.8447381],
                {}
            ).addTo(map_7863ece84cde4fed9079ab630b2766bb);
        
    
        var popup_41a82086c2ad4d74a3c3e6494a63defd = L.popup({"maxWidth": "100%"});

        
            var html_f25363ce482549bba0de11e334df5f72 = $(`<div id="html_f25363ce482549bba0de11e334df5f72" style="width: 100.0%; height: 100.0%;"><strong>jaribio donation center</strong>  0.86Km away <a href=http://127.0.0.1:8000/donations/3 class="btn btn-primary btn-block">view donation requests</a></div>`)[0];
            popup_41a82086c2ad4d74a3c3e6494a63defd.setContent(html_f25363ce482549bba0de11e334df5f72);
        

        marker_fceec5e610c6452ca91c007cf39d2dde.bindPopup(popup_41a82086c2ad4d74a3c3e6494a63defd)
        ;

        
    
    
            marker_fceec5e610c6452ca91c007cf39d2dde.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5788c01f2bed4a1a842a9da3979c5695 = L.marker(
                [-1.29475, 36.806605],
                {}
            ).addTo(map_7863ece84cde4fed9079ab630b2766bb);
        
    
        var popup_901ec57f658a430d9334899522ebe0db = L.popup({"maxWidth": "100%"});

        
            var html_2ebee8b34c8e42f4af42d15a3dcc3a36 = $(`<div id="html_2ebee8b34c8e42f4af42d15a3dcc3a36" style="width: 100.0%; height: 100.0%;"><strong>final donation center</strong>  4.58Km away <a href=http://127.0.0.1:8000/donations/5 class="btn btn-primary btn-block">view donation requests</a></div>`)[0];
            popup_901ec57f658a430d9334899522ebe0db.setContent(html_2ebee8b34c8e42f4af42d15a3dcc3a36);
        

        marker_5788c01f2bed4a1a842a9da3979c5695.bindPopup(popup_901ec57f658a430d9334899522ebe0db)
        ;

        
    
    
            marker_5788c01f2bed4a1a842a9da3979c5695.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e06f9990f24046d2a5e50bf963b4539a = L.marker(
                [-1.2832261, 36.82201849999999],
                {}
            ).addTo(map_7863ece84cde4fed9079ab630b2766bb);
        
    
        var popup_67fb50416eb9491f9f45aab70fac282a = L.popup({"maxWidth": "100%"});

        
            var html_0c661a50ee9d465e934c6c09197fc040 = $(`<div id="html_0c661a50ee9d465e934c6c09197fc040" style="width: 100.0%; height: 100.0%;"><strong>test donation center</strong>  2.46Km away <a href=http://127.0.0.1:8000/donations/1 class="btn btn-primary btn-block">view donation requests</a></div>`)[0];
            popup_67fb50416eb9491f9f45aab70fac282a.setContent(html_0c661a50ee9d465e934c6c09197fc040);
        

        marker_e06f9990f24046d2a5e50bf963b4539a.bindPopup(popup_67fb50416eb9491f9f45aab70fac282a)
        ;

        
    
    
            marker_e06f9990f24046d2a5e50bf963b4539a.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
</script>