<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_551b8325d1994b44afb2ba9e4c65e741 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_551b8325d1994b44afb2ba9e4c65e741" ></div>
        
</body>
<script>    
    
            var map_551b8325d1994b44afb2ba9e4c65e741 = L.map(
                "map_551b8325d1994b44afb2ba9e4c65e741",
                {
                    center: [-1.2672428, 36.8373071],
                    crs: L.CRS.EPSG3857,
                    zoomControl: true,
                    preferCanvas: false,
                    zoom: 12,
                }
            );

            

        
    
            var tile_layer_a6d6388df41241d2ac66ccabcf6a1cb0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_551b8325d1994b44afb2ba9e4c65e741);
        
    
            var marker_8a71b2e03fa441d0b3ad9ec7ac4aaf46 = L.marker(
                [-1.2672428, 36.8373071],
                {}
            ).addTo(map_551b8325d1994b44afb2ba9e4c65e741);
        
    
        var popup_7105add5b5bd476c80994f99d1bd6635 = L.popup({"maxWidth": "100%"});

        
            var html_97c868a26ae444e6893a41dcb9c3e2bf = $(`<div id="html_97c868a26ae444e6893a41dcb9c3e2bf" style="width: 100.0%; height: 100.0%;"><strong>tumaini hospital</strong>  0.0Km away <a href=http://127.0.0.1:8000/donations/4 class="btn btn-primary btn-block">view donation requests</a>  <a href=https://www.google.com/maps/search/Pangani+Shopping+Center,+Nairobi,+Kenya+tumaini+hospital class="btn btn-primary btn-block" target="_blank">view on google map</a></div>`)[0];
            popup_7105add5b5bd476c80994f99d1bd6635.setContent(html_97c868a26ae444e6893a41dcb9c3e2bf);
        

        marker_8a71b2e03fa441d0b3ad9ec7ac4aaf46.bindPopup(popup_7105add5b5bd476c80994f99d1bd6635)
        ;

        
    
    
            marker_8a71b2e03fa441d0b3ad9ec7ac4aaf46.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_75ff9a5e9a474054bc6587a96662f252 = L.marker(
                [-1.2650201, 36.8447381],
                {}
            ).addTo(map_551b8325d1994b44afb2ba9e4c65e741);
        
    
        var popup_d5c5f0a259d24f8b8da38845225d6cc0 = L.popup({"maxWidth": "100%"});

        
            var html_cc90d1c1d83d46e78f59174c7e4ab0d8 = $(`<div id="html_cc90d1c1d83d46e78f59174c7e4ab0d8" style="width: 100.0%; height: 100.0%;"><strong>jaribio donation center</strong>  0.86Km away <a href=http://127.0.0.1:8000/donations/3 class="btn btn-primary btn-block">view donation requests</a>  <a href=https://www.google.com/maps/search/Mlango+Kubwa,+Nairobi,+Kenya+jaribio+donation+center class="btn btn-primary btn-block" target="_blank">view on google map</a></div>`)[0];
            popup_d5c5f0a259d24f8b8da38845225d6cc0.setContent(html_cc90d1c1d83d46e78f59174c7e4ab0d8);
        

        marker_75ff9a5e9a474054bc6587a96662f252.bindPopup(popup_d5c5f0a259d24f8b8da38845225d6cc0)
        ;

        
    
    
            marker_75ff9a5e9a474054bc6587a96662f252.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a6785614819e4e7eb6f5c7a4727d0894 = L.marker(
                [-1.29475, 36.806605],
                {}
            ).addTo(map_551b8325d1994b44afb2ba9e4c65e741);
        
    
        var popup_09c73c185c604b24b388d8cf36437ca3 = L.popup({"maxWidth": "100%"});

        
            var html_6801072754e34fe6a98d7832b897edd8 = $(`<div id="html_6801072754e34fe6a98d7832b897edd8" style="width: 100.0%; height: 100.0%;"><strong>final donation center</strong>  4.58Km away <a href=http://127.0.0.1:8000/donations/5 class="btn btn-primary btn-block">view donation requests</a>  <a href=https://www.google.com/maps/search/Upper+Hill+Medical+Centre,+Java+House,+Ralph+Bunche+Road,+Nairobi,+Kenya+final+donation+center class="btn btn-primary btn-block" target="_blank">view on google map</a></div>`)[0];
            popup_09c73c185c604b24b388d8cf36437ca3.setContent(html_6801072754e34fe6a98d7832b897edd8);
        

        marker_a6785614819e4e7eb6f5c7a4727d0894.bindPopup(popup_09c73c185c604b24b388d8cf36437ca3)
        ;

        
    
    
            marker_a6785614819e4e7eb6f5c7a4727d0894.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_893ffef9b88446f8965da724556794df = L.marker(
                [-1.2832261, 36.82201849999999],
                {}
            ).addTo(map_551b8325d1994b44afb2ba9e4c65e741);
        
    
        var popup_fa4f02bbd87842b0b9015cafd43e4990 = L.popup({"maxWidth": "100%"});

        
            var html_68e81e3701c24047bad82ac6b1aa46e9 = $(`<div id="html_68e81e3701c24047bad82ac6b1aa46e9" style="width: 100.0%; height: 100.0%;"><strong>test donation center</strong>  2.46Km away <a href=http://127.0.0.1:8000/donations/1 class="btn btn-primary btn-block">view donation requests</a>  <a href=https://www.google.com/maps/search/Nairobi+CBD,+Biashara+Street,+Nairobi,+Kenya+test+donation+center class="btn btn-primary btn-block" target="_blank">view on google map</a></div>`)[0];
            popup_fa4f02bbd87842b0b9015cafd43e4990.setContent(html_68e81e3701c24047bad82ac6b1aa46e9);
        

        marker_893ffef9b88446f8965da724556794df.bindPopup(popup_fa4f02bbd87842b0b9015cafd43e4990)
        ;

        
    
    
            marker_893ffef9b88446f8965da724556794df.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e92f6ee9862840a097c78b7943087c80 = L.marker(
                [-1.2675536, 36.8435361],
                {}
            ).addTo(map_551b8325d1994b44afb2ba9e4c65e741);
        
    
        var popup_a3711126f2324367b0a94da64b988a77 = L.popup({"maxWidth": "100%"});

        
            var html_0059a5db47e04aa98cd6bf732669722d = $(`<div id="html_0059a5db47e04aa98cd6bf732669722d" style="width: 100.0%; height: 100.0%;"><strong>radiant hospital pangani</strong>  0.69Km away <a href=http://127.0.0.1:8000/donations/2 class="btn btn-primary btn-block">view donation requests</a>  <a href=https://www.google.com/maps/search/Radiant+Hospital+Pangani,+Nairobi,+Kenya+radiant+hospital+pangani class="btn btn-primary btn-block" target="_blank">view on google map</a></div>`)[0];
            popup_a3711126f2324367b0a94da64b988a77.setContent(html_0059a5db47e04aa98cd6bf732669722d);
        

        marker_e92f6ee9862840a097c78b7943087c80.bindPopup(popup_a3711126f2324367b0a94da64b988a77)
        ;

        
    
    
            marker_e92f6ee9862840a097c78b7943087c80.bindTooltip(
                `<div>
                     Click for more info.
                 </div>`,
                {"sticky": true}
            );
        
</script>